 form {
     display: block;
 }

 .hide {
     display: none;
 }

 body {
     display: grid;
     grid-template-columns: repeat(10, 1fr);
     grid-template-rows: repeat(10, 1fr);
     height: 100vh;


 }

 .sidenav {
     background-color: rgba(51, 51, 51, 1);
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     display: grid;
     grid-column: span 1;
     grid-row: span 10;

 }

 .button {
     background-color: rgba(51, 51, 51, .6);
     border: none;
     color: white;
     text-align: center;
     text-decoration: none;
     font-size: 16px;
 }

 .input {
     background-image: url(images/bckg.jpg);
     opacity: .6;
     background-size: cover;
     background-repeat: no-repeat;
     background-color: white;
     color: white;
     height: auto;
     width: 100%;
     grid-column: span 9;
     grid-row: span 10;
     padding: 10px;
 }

 .inputContainter {
     background-color: white;
 }

 .header {
     padding-left: 30px;
     padding-top: 40px;
 }


 .far {
     color: white;
     font-size: 45px;
     text-align: center;
 }

 .fas {}

 p {
     padding-bottom: 10px;
 }

 .input-box {
     border: 2px solid white;
     border-radius: 4px;
     box-sizing: border-box;
 }

 .header-text {
     font-size: 75px;
     font-family: Montserrat;
     text-align: center;
     padding-top: 350px
 }

 .text-footer {
     text-align: center;
     color: white;
     padding-top: 50px;
     font-weight: 300;
 }

 .content-footer {
     font-family: Montserrat;
     color: white;
     padding-bottom: 50px
 }

 .iconclass {
     width: 50px;
     height: 20px;
 }

 span {
     color: yellow;
 }